.TextCenter {
  font-size: 32px;
  font-weight: bolder;
  line-height: 0.8;
  text-transform: uppercase;
  text-shadow: 10px 10px 10px black;
}

.HeaderSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  height: 240px;
  margin-bottom: 1.5rem;
}

.HeaderSection h1 {
  font-size: 40px !important;
}

.Collection {
  margin-left: 10vw;
  margin-right: 10vw;
}

.Principal {
  height: 60vh !important;
  background-image: url(https://cdn.shopify.com/s/files/1/1547/6619/files/fondo-mejora-tus-habilidades.jpg?v=1634136141);
}
