/* NavBar */
.MainNavbar.navbar {
  min-height: 10vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.MainNavbar.navbar-light .navbar-nav .nav-link {
  color: var(--black-color);
}

.MainNavbar .navbar-brand {
  margin-left: 1rem;
}

.MainNavbar .navbar-brand img {
  width: 90px;
}

.MainNavbar .navbar-text {
  color: var(--text-color) !important;
  font-weight: bold;
}

.MainNavbar .nav-link {
  margin-right: 2.188rem;
  font-size: 1rem;
}

.MainNavbar .nav-link img {
  margin-right: 0.625rem;
  width: 20px;
}

.MainNavbar .nav-link.active {
  border-bottom: 2px solid var(--red-color);
  color: var(--red-color) !important;
  font-weight: 900 !important;
}

.MainNavbar .nav-user-ml {
  border-left: solid 2px var(--snow-color);
}

/* Footer */

footer {
  background-color: var(--footer-color);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10vh;
  margin-top: 10px;
}

footer img {
  width: 70px;
  margin-right: 0.625rem;
}

footer span {
  font-size: 0.75rem;
}

/*******************************************************
*            Media Queries (Bootstrap)                 *
*******************************************************/

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, more than 1200px) */
@media (min-width: 1200px) {
  .MainContainer {
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 1.563rem;
    padding-bottom: 4rem;
  }
}
